In [1]:
# 引進相關套件
import requests
from io import StringIO
import pandas as pd
import numpy as np

In [2]:
# 資料日期
date1 = '20190701'
stockNo = '2330'
# 網址
url= 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date={}&stockNo={}'.format(date1, stockNo)

In [3]:
# 送出要求，並取得回應資料
response = requests.post(url)

In [5]:
clean_data=[]
for row in response.text.split('\n'):
    fields=row.split('",')
    if len(fields) == 10 and row[0] != '=':
        clean_data.append(row.replace(' ',''))

csv_data = "\n".join(clean_data)
print(csv_data)

"日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數",
"108/07/01","66,370,875","16,445,222,750","245.50","250.00","245.00","248.50","+9.50","29,551",
"108/07/02","26,832,202","6,671,951,743","249.50","250.00","247.50","249.00","+0.50","12,531",
"108/07/03","29,549,774","7,190,777,082","244.00","245.00","242.00","242.50","-6.50","16,033",
"108/07/04","18,691,240","4,561,556,160","244.50","245.00","242.50","244.00","+1.50","8,565",
"108/07/05","27,317,074","6,624,379,927","244.50","245.00","241.50","243.00","-1.00","9,013",
"108/07/08","29,190,909","7,057,462,187","240.00","244.50","240.00","242.50","-0.50","10,552",
"108/07/09","16,538,987","3,998,096,596","241.50","243.00","240.50","242.00","-0.50","6,486",
"108/07/10","23,812,131","5,839,691,357","243.00","247.00","243.00","247.00","+5.00","12,366",
"108/07/11","31,296,289","7,809,358,257","250.00","250.00","247.50","250.00","+3.00","14,360",
"108/07/12","23,868,432","5,984,689,000","252.00","252.00","249.50","250.50","+0.50","8,363",
"108/07/15","34,264,300","8,663,129,910","251.00","254.50","249.50","254.50","+4.00","12,174",
"108/07/16","26,141,249","6,678,755,679","254.00","256.50","253.50","256.00","+1.50","8,994",
"108/07/17","34,346,648","8,686,815,824","254.00","254.00","251.00","252.00","-4.00","11,106",
"108/07/18","20,908,575","5,300,082,470","252.00","254.50","251.50","254.00","+2.00","8,245",
"108/07/19","59,879,798","15,573,278,932","259.50","261.00","259.00","259.00","+5.00","21,827",
"108/07/22","31,863,639","8,385,222,407","263.00","264.00","262.00","264.00","+5.00","13,424",
"108/07/23","29,273,223","7,734,089,131","265.50","266.50","262.50","264.00","0.00","12,791",
"108/07/24","24,511,039","6,484,708,226","266.50","266.50","263.00","265.00","+1.00","10,617",
"108/07/25","30,698,545","8,091,922,380","264.00","265.00","261.50","265.00","0.00","10,643",
"108/07/26","20,768,071","5,434,082,968","261.00","262.50","261.00","261.00","-4.00","8,850",
"108/07/29","18,473,320","4,822,762,518","260.00","262.00","259.50","261.00","0.00","6,681",
"108/07/30","22,895,612","5,975,389,270","262.50","263.00","260.00","260.00","-1.00","7,191",
"108/07/31","36,365,601","9,413,416,604","260.00","260.00","257.00","259.50","-0.50","10,468",

In [6]:
df = pd.read_csv(StringIO(csv_data))
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,Unnamed: 9
0,108/07/01,"66,370,875","16,445,222,750",245.5,250.0,245.0,248.5,9.5,"29,551",NaN
1,108/07/02,"26,832,202","6,671,951,743",249.5,250.0,247.5,249.0,0.5,"12,531",NaN
2,108/07/03,"29,549,774","7,190,777,082",244.0,245.0,242.0,242.5,-6.5,"16,033",NaN
3,108/07/04,"18,691,240","4,561,556,160",244.5,245.0,242.5,244.0,1.5,"8,565",NaN
4,108/07/05,"27,317,074","6,624,379,927",244.5,245.0,241.5,243.0,-1.0,"9,013",NaN

In [7]:
# 刪除無用的欄位
df.drop(df.columns[-1], axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 9 columns):
日期      23 non-null object
成交股數    23 non-null object
成交金額    23 non-null object
開盤價     23 non-null float64
最高價     23 non-null float64
最低價     23 non-null float64
收盤價     23 non-null float64
漲跌價差    23 non-null float64
成交筆數    23 non-null object
dtypes: float64(5), object(4)
memory usage: 1.7+ KB

In [9]:
# 將以下欄位轉為數值
numeric_columns=['成交股數','成交金額','成交筆數']
for i in numeric_columns:
    df[i]=df[i].map(lambda x:x.replace(',', '').replace('--', ''))
    df[i]=pd.to_numeric(df[i])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 9 columns):
日期      23 non-null object
成交股數    23 non-null int64
成交金額    23 non-null int64
開盤價     23 non-null float64
最高價     23 non-null float64
最低價     23 non-null float64
收盤價     23 non-null float64
漲跌價差    23 non-null float64
成交筆數    23 non-null int64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.7+ KB

In [10]:
df.to_csv('個股日成交資訊.csv', index=False)

In [11]:
df.to_excel('個股日成交資訊.xlsx', index=False)