In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./president_heights.csv')
df.head(10)

   order                    name  height(cm)
0      1       George Washington         189
1      2              John Adams         170
2      3        Thomas Jefferson         189
3      4           James Madison         163
4      5            James Monroe         183
5      6       John Quincy Adams         171
6      7          Andrew Jackson         185
7      8        Martin Van Buren         168
8      9  William Henry Harrison         173
9     10              John Tyler         183

In [3]:
df.tail(10)

    order               name  height(cm)
32     35    John F. Kennedy         183
33     36  Lyndon B. Johnson         193
34     37      Richard Nixon         182
35     38        Gerald Ford         183
36     39       Jimmy Carter         177
37     40      Ronald Reagan         185
38     41  George H. W. Bush         188
39     42       Bill Clinton         188
40     43     George W. Bush         182
41     44       Barack Obama         185

In [4]:
df2 = df.tail(10)[['height(cm)']]

In [5]:
df1 = df.iloc[0:len(df)-10][['height(cm)']]
len(df1)

32